<div class="columns detail title">
  <div class="column col-6 col-sm-12">
    <h1>Device donation and redistribution</h1>
    <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img show-sm" />
  </div>
  <div class="column col-6 hide-sm">
    <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img pull-right" />
  </div>
</div>
<div class="columns detail">
  <div class="column col-12">
    <hr class="margin-bottom" />
    <p>Being online is an essential lifeline.</p>
    <p>Throughout the coronavirus crisis, the internet is keeping us connected to friends and family, informed and entertained, and able to learn, work, shop and access health information and other public services. </p>
    <p>However, some people can't access these benefits because they don't have a device. The flip side is many devices are lying forgotten, unused or unwanted. </p>
    <p>A variety of local projects have sprung up encouraging people to donate their old tech. Devices are then cleaned of data, fixed where needed, upgraded and redistributed. Some projects accept other tech likeprinters, monitors, keyboards, mice, speakers, memory sticks/cards. It is always worth asking because these can be especially helpful additions. Chargers and manuals are also useful because donations often come in without them. </p>
    <h2>Top tips if you have an old device to donate</h2>
    <ul>
      <li><strong>Log out of any cloud-based apps and thoroughly clean your device before you donate it</strong> <br />Your old device may hold personal data about you or your contacts. This could be used for fraudulent purposes. The National Cyber Security Centre has guidance on <a href="https://www.ncsc.gov.uk/guidance/buying-selling-second-hand-devices#section_2">how to erase the data on your device</a>.</li>
      <li><strong>Only donate good quality devices</strong> <br />This is not a way to dispose of broken or ancient devices. Devices need to be suitable for wi-fi or 3G and have no major defects, like a cracked screen. Devices over five years old are hard to upgrade to modern operating systems. </li>
    </ul>
    <ul>
      <li><strong>Try to include any charging cables, plugs, manuals and original boxes</strong></li>
      <li><strong>Know where your device is going</strong> <br />Only donate your device to a reputable project who will double-check that your data is safely removed.</li>
    </ul>
    <h2>What else you can do to help</h2>
    <ul>
      <li>Many of the projects are community groups run by volunteers. They would welcome your help and knowledge. </li>
    </ul>
    <ul>
      <li>Many projects need cash donations too</li>
      <li>If there isn't a local group and you want to start your own project then contact <a href="https://www.rebootproject.uk/download-the-free-guide/">Nominet's Reboot Project</a>. They will help you develop a cost-effective, practical and environmentally friendly programme.</li>
    </ul>
    <h2>Top tips if you receive a second hand device</h2>
    <ul>
      <li>If you find someone else's data, take the device back to the project who gave it to you so they can clean it properly</li>
    </ul>
    <ul>
      <li>Take care before you perform any factory reset because you may lose system upgrades that the project intentionally installed for you</li>
      <li>Switch on automatic updates to make sure security updates are regularly downloaded</li>
      <li>Make sure you understand the full cost of any contract or data charges</li>
      <li>Learn how to <a href="https://www.getsafeonline.org/">stay safe online</a></li>
    </ul>
    <h2>Projects to donate your devices to</h2>
    <p>These are projects we know of who accept donations of old devices and redistribute them to people in Scotland. If you know of other projects, <a href="mailto:digital@scvo.scot">let us know</a> and we will add them to our list. </p>
    <p>Many workplaces, colleges and universities have their own internal redistribution projects for their local communities. If you are an employee or a student, it is worth checking there.</p>
    <!-- wp:heading {"level":4} -->
    <h3>Edinburgh &amp; Lothians</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a rel="noreferrer noopener" href="https://peopleknowhow.org/reconnect/computer-delivery/#donate" target="_blank">People Know How</a>, Edinburgh and East Lothian  </li><li><a rel="noreferrer noopener" href="http://www.passitoncomputers.co.uk/what-we-do/how-we-help/free-adapted-computers/" target="_blank">Pass IT On</a>, Edinburgh </li><li><a rel="noreferrer noopener" target="_blank" href="https://www.edinburghremakery.org.uk/buy/refurbished-computers/">Edinburgh Remakery</a>, Edinburgh</li><li><a rel="noreferrer noopener" href="https://turingtrust.co.uk/our-work/the-uk/" target="_blank">Turing Trust</a>, Midlothian</li></ul>
    <!-- /wp:list -->

    <!-- wp:heading {"level":4} -->
    <h3>Scottish Borders</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a href="https://generalstoreselkirk.org/repairs" target="_blank" rel="noreferrer noopener">The General Store</a>, Selkirk </li><li><a rel="noreferrer noopener" href="https://www.theitcentre.org.uk/" target="_blank">The IT Centre</a>, Castle Douglas  </li><li><a href="https://renewcrew.org.uk/shop/" target="_blank" rel="noreferrer noopener">Renew Crew</a>, Peebles &amp; surrounding areas</li></ul>
    <!-- /wp:list -->

    <!-- wp:heading {"level":4} -->
    <h3>Glasgow &amp; Clyde</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a rel="noreferrer noopener" href="https://nwgvsn.org.uk/" target="_blank">North West Glasgow Voluntary Sector Network</a>, Glasgow</li></ul>
    <!-- /wp:list -->

    <!-- wp:heading {"level":4} -->
    <h3>Forth Valley</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a rel="noreferrer noopener" href="https://ctsi.org.uk/techshare" target="_blank">Clackmannanshire TSI, TechShare</a>, Clackmannanshire&nbsp;</li><li><a rel="noreferrer noopener" href="https://www.transitionstirling.org.uk/reboot-stirling" target="_blank">Reboot Stirling, Transition Stirling</a>, Stirling&nbsp;&nbsp;</li></ul>
    <!-- /wp:list -->

    <!-- wp:heading {"level":4} -->
    <h3>Lanarkshire</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a rel="noreferrer noopener" href="http://www.voluntaryactionnorthlanarkshire.org/article/techshare-gifting-scheme" target="_blank">Voluntary Action North Lanarkshire</a>, Airdrie (covering North Lanarkshire) </li><li><a rel="noreferrer noopener" href="https://www.communitylinkssl.co.uk/" target="_blank">Reconnect, Community Links South Lanarkshire</a>, South Lanarkshire </li><li><a rel="noreferrer noopener" target="_blank" href="https://www.re-tek.co.uk/portfolio/re-teks-work-with-charities/">Re-tek</a>, East Kilbride</li></ul>
    <!-- /wp:list -->

    <!-- wp:heading {"level":4} -->
    <h3>Ayrshire</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a href="https://inputcw.com/about-us/" target="_blank" rel="noreferrer noopener">Input Community Works</a>, North Ayrshire</li></ul>
    <!-- /wp:list -->

    <!-- wp:heading {"level":4} -->
    <h3>Highland</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a href="https://www.ilmhighland.co.uk/product-category/refurbished-chromebook/" target="_blank" rel="noreferrer noopener">ILM Highland</a>,  Alness (but delivery throughout the Highlands)  </li><li><a href="https://www.budding-engineers.co.uk/digital-recycling" target="_blank" rel="noreferrer noopener">Budding Engineers</a>, Thurso (but covering the North of Scotland) </li><li><a rel="noreferrer noopener" href="https://www.libertie.co.uk/" target="_blank">The Libertie Project,</a> Inverness</li></ul>
    <!-- /wp:list -->

    <!-- wp:heading {"level":4} -->
    <h3>Grampian</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a href="http://www.reboot-forres.co.uk/services.html#4" target="_blank" rel="noreferrer noopener">Reboot Computer Recycling</a>, Forres (but covering Grampian area) </li></ul>
    <!-- /wp:list -->

    <!-- wp:heading {"level":4} -->
    <h3>Tayside</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a rel="noreferrer noopener" href="https://www.home-computers-support.com/about" target="_blank">Home Computers Support</a>, Dundee&nbsp;</li><li><a rel="noreferrer noopener" href="https://www.perth.uhi.ac.uk/business-and-employee-support/open-to-the-public/weee-centre/faqs/" target="_blank">WEEE Centre</a>, UHI Perth College&nbsp;</li></ul>
    <!-- /wp:list -->

    <!-- wp:heading {"level":4} -->
    <h3>Nationwide</h3>
    <!-- /wp:heading -->

    <!-- wp:list -->
    <ul><li><a rel="noreferrer noopener" href="http://www.reusingit.org/" target="_blank">Reusing IT</a>&nbsp;</li><li><a href="http://www.reboot-forres.co.uk/servQuoteDom.html">Reboot Computer Recycling</a></li><li><a href="https://www.hubbub.org.uk/communitycalling">Hubbub Community Calling</a>&nbsp;(free postage for smartphone donations)</li></ul>
    <!-- /wp:list -->
  </div>
</div>
