<div class="columns detail title">
  <div class="column col-6 col-sm-12">
    <h1>Device donation and redistribution</h1>
    <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img show-sm" />
  </div>
  <div class="column col-6 hide-sm">
    <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img pull-right" />
  </div>
</div>
<div class="columns detail">
  <div class="column col-12">
    <hr class="margin-bottom" />
    <p>Being online is an essential lifeline.</p>
    <p>Throughout the coronavirus crisis, the internet is keeping us connected to friends and family, informed and entertained, and able to learn, work, shop and access health information and other public services. </p>
    <p>However, some people can't access these benefits because they don't have a device. The flip side is many devices are lying forgotten, unused or unwanted. </p>
    <p>A variety of local projects have sprung up encouraging people to donate their old tech. Devices are then cleaned of data, fixed where needed, upgraded and redistributed. Some projects accept other tech likeprinters, monitors, keyboards, mice, speakers, memory sticks/cards. It is always worth asking because these can be especially helpful additions. Chargers and manuals are also useful because donations often come in without them. </p>
    <h2>Top tips if you have an old device to donate</h2>
    <ul>
      <li><strong>Log out of any cloud-based apps and thoroughly clean your device before you donate it</strong> <br />Your old device may hold personal data about you or your contacts. This could be used for fraudulent purposes. The National Cyber Security Centre has guidance on <a href="https://www.ncsc.gov.uk/guidance/buying-selling-second-hand-devices#section_2">how to erase the data on your device</a>.</li>
      <li><strong>Only donate good quality devices</strong> <br />This is not a way to dispose of broken or ancient devices. Devices need to be suitable for wi-fi or 3G and have no major defects, like a cracked screen. Devices over five years old are hard to upgrade to modern operating systems. </li>
    </ul>
    <ul>
      <li><strong>Try to include any charging cables, plugs, manuals and original boxes</strong></li>
      <li><strong>Know where your device is going</strong> <br />Only donate your device to a reputable project who will double-check that your data is safely removed.</li>
    </ul>
    <h2>What else you can do to help</h2>
    <ul>
      <li>Many of the projects are community groups run by volunteers. They would welcome your help and knowledge. </li>
    </ul>
    <ul>
      <li>Many projects need cash donations too</li>
      <li>If there isn't a local group and you want to start your own project then contact <a href="https://www.rebootproject.uk/download-the-free-guide/">Nominet's Reboot Project</a>. They will help you develop a cost-effective, practical and environmentally friendly programme.</li>
    </ul>
    <h2>Top tips if you receive a second hand device</h2>
    <ul>
      <li>If you find someone else's data, take the device back to the project who gave it to you so they can clean it properly</li>
    </ul>
    <ul>
      <li>Take care before you perform any factory reset because you may lose system upgrades that the project intentionally installed for you</li>
      <li>Switch on automatic updates to make sure security updates are regularly downloaded</li>
      <li>Make sure you understand the full cost of any contract or data charges</li>
      <li>Learn how to <a href="https://www.getsafeonline.org/">stay safe online</a></li>
    </ul>
    <h2>Projects to donate your devices to</h2>
    <p>These are projects we know of who accept donations of old devices and redistribute them to people in Scotland. If you know of other projects, <a href="mailto:digital@scvo.scot">let us know</a> and we will add them to our list. </p>
    <p>Many workplaces, colleges and universities have their own internal redistribution projects for their local communities. If you are an employee or a student, it is worth checking there.</p>
    <p><strong>Glasgow area</strong></p>
    <ul>
      <li>Remade Network, <a href="https://remade.network/repair/how-to-donate/">The Repair Stop</a>, Govanhill</li>
    </ul>
    <p><strong>West Scotland</strong></p>
    <ul>
      <li><a href="http://www.inputcw.com/aboutus/">Input Community Works</a>, Ayrshire</li>
    </ul>
    <p><strong>Edinburgh area</strong></p>
    <ul>
      <li><a href="https://peopleknowhow.org/reconnect/computer-delivery/#donate">People Know How</a></li>
    </ul>
    <ul>
      <li><a href="http://www.passitoncomputers.co.uk/what-we-do/how-we-help/how-you-can-help/donate-pcs/">Pass IT On</a></li>
      <li><a href="https://www.edinburghremakery.org.uk/join-us/donations/">Edinburgh Remakery</a>(for donations by businesses)</li>
    </ul>
    <p><strong>East Scotland</strong></p>
    <ul>
      <li><a href="https://www.home-computers-support.com/donations">Home Computers Support</a>, Dundee</li>
    </ul>
    <p><strong>Highlands</strong></p>
    <ul>
      <li><a href="http://www.reboot-forres.co.uk/servQuoteDom.html">Reboot Computer Recycling</a>, Moray (but covering all of Scotland)</li>
      <li><a href="https://www.facebook.com/buddingengineers.sco/">Budding Engineers</a>, Thurso (but covering the North of Scotland)</li>
    </ul>
    <p><strong>Borders</strong></p>
    <ul>
      <li><a href="https://www.facebook.com/generalstoreselkirk">The General Store</a>, Selkirk </li>
    </ul>
    <p><strong>Nationwide</strong></p>
    <ul>
      <li><a href="http://www.reboot-forres.co.uk/servQuoteDom.html">Reboot Computer Recycling</a>, Moray (but covering all of Scotland)</li>
      <li><a href="https://scottishcare.org/tech-connection-network/">Scottish Care Tech Connection Network</a></li>
      <li><a href="https://www.hubbub.org.uk/communitycalling">Hubbub Community Calling</a> (free postage for smartphone donations)</li>
    </ul>
  </div>
</div>
