<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner detail title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <h1>Help others get online</h1>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img pull-right" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner detail">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr class="margin-bottom" />

      <h4><a href="https://onedigitaluk.com/">One Digital</a></h4>
      <p>SCVO are part of the UK wide One Digital partnership, an exciting and unique Big Lottery funded collaborative digital inclusion programme. At the heart of One Digital is the recruitment and training of Digital Champions to deliver essential digital skills support to individuals who are digitally excluded. For further information on the programme please take a look at the <a href="https://onedigitaluk.com/toolkit/">One Digital toolkit</a>.</p>

      <h4><a href="http://letsgetonline.scot/help-someone-else/">Let's Get Online</a></h4>
      <p>Find help and computer courses near you in Scotland</p>

      <h4><a href="https://scvo.org/digital/participation/champions">Digital Champions Training</a></h4>
      <p>Free local training and support programme for voluntary sector organisations which includes access to the <a href="https://www.digitalchampionsnetwork.com/">Digital Champions Network</a>. To register your interest please get in touch with our team by emailing <a href="mailto:onedigital@scvo.org.uk">onedigital@scvo.org.uk</a>.</p>

      <p>If you are not a voluntary sector organisation and you're keen to develop Digital Champions in your organisation, you may wish to apply directly to join the Digital Champions Network with <a href="https://digitalunite.com/">Digital Unite</a>.</p>

      <h4><a href="https://www.microsoft.com/en-gb/digitalliteracy/default.aspx">Microsoft Digital Literacy Curriculum</a></h4>
      <p>Teach and assess the basic concepts and skills needed to use a computer</p>

      <h4><a href="https://www.nspcc.org.uk/preventing-abuse/keeping-children-safe/online-safety/">NSPCC Online Safety</a></h4>
      <p>Find out how to keep your children safe when using the internet</p>

    </div>
  </div>
</div>
