<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner detail title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <h1>Digital Participation Charter logos</h1>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img pull-right" />
    </div>
  </div>
  </div>
  <div class="mdc-layout-grid__inner detail">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr class="margin-bottom" />

      <p>Are you a Charter Signatory? Great!</p>

      <p>Download the resources below to help you promote your commitment to the Charter amongst your staff and stakeholders.</p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Brand-Guidelines-for-Signatories.pdf" download>Brand guidelines</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-FullColour-RGB.png" download>Charter signatory logo (colour) for use on screens</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-White-RGB.png" download>Charter signatory logo (white) for use on screens</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-FullColour-CMYK.eps" download>Charter signatory logo (colour) for use in print</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-White-CMYK.eps" download>Charter signatory logo (white) for use in print</a></p>

      <p><a href="https://storage.googleapis.com/digitalparticipation/Signatory-Logo-Suite.zip" download>Download full logo suite (zipped file)</a></p>

    </div>
  </div>
</div>