<title>{{route.metaData.title}}</title>
<meta property="og:title" content="{{route.metaData.title}}" data-dynamic="true">
<meta property="og:summary" content="We are on a mission: to give everyone in Scotland the essential digital skills they need to do their jobs, live their lives, and confidently use different digital services." data-dynamic="true">
<meta name="description" content="We are on a mission: to give everyone in Scotland the essential digital skills they need to do their jobs, live their lives, and confidently use different digital services." data-dynamic="true">