<div class="columns title">
  <div class="column col-12">
    <h1>Terms &amp; Conditions</h1>
    <p>
      This page explains the SCVO’s terms of use. You must agree to these to
      use this Digital Participation website (<a href="http://www.digitalparticipation.scot/"
      target="_blank"
      rel="noreferrer noopener"
      >www.digitalparticipation.scot</a>).
    </p>
    <h2>
      Using the Digital Participation website
    </h2>


    <p>
      You agree to use the Digital Participation website only for lawful
      purposes. You must also use it in a way that does not infringe the
      rights of, or restrict or inhibit the use and enjoyment of, this site
      by anyone else.
    </p>


    <p>
      We update the Digital Participation website all the time. We can change
      or remove content at any time without notice.
    </p>



    <p>
      We amend these Terms and Conditions from time to time. Every time
      you wish to use our website, please check these Terms and
      Conditions to ensure you understand the terms and conditions that
      apply at that time.
    </p>


    <p>
      By continuing to use our website after these Terms and Conditions
      have been updated you are agreeing to be bound by them.
    </p>


    <h2>
      Linking to the Digital Participation website
    </h2>


    <p>
      We welcome and encourage other websites to link to the Digital
      Participation website. You must contact us for permission if you
      want to either:
    </p>


    <ul>
      <li>
          charge your website’s users to access any page on
          <a href="http://www.digitalparticipation.scot/"
          target="_blank"
          rel="noreferrer noopener"
          >www.digitalparticipation.scot</a>
      </li>
      <li>
          say your website is associated with or endorsed by
          <a href="http://www.digitalparticipation.scot/"
          target="_blank"
          rel="noreferrer noopener"
          >www.digitalparticipation.scot</a>
      </li>
    </ul>


    <h2>
      External links from the Digital Participation website
    </h2>


    <p>
      The Digital Participation website links to websites that are
      managed by government departments and agencies, service providers
      or other organisations. We do not have any control over the content
      on these websites.
    </p>


    <p>
      We’re not responsible for:
    </p>


    <ul>
      <li>
        the protection of any information you give to these
        websites
      </li>
      <li>
        any loss or damage that may come from your use of these
        websites, or any other websites they link to
      </li>
    </ul>


    <p>
      You agree to release us from any claims or disputes that may come
      from using these websites. You should read all terms and
      conditions, privacy policies and end user licences that relate to
      these websites before you use them.
    </p>


    <h2>
      Content license
    </h2>


    <p>
      We are the owner or the licensee of all intellectual property
      rights in our site, and in the material published on it. Those
      works are protected by copyright laws and treaties around the
      world. All such rights are reserved.
    </p>


    <p>
      If you are an individual, you may print off one copy, and may
      download extracts, of any page(s) from our site for your personal
      use.
    </p>



    <p>
      If you are an organisation, you may print off copies, and may download
      extracts, of any page(s) from our site for non-commercial
      organisational purposes and you may draw the attention of others within
      your organisation to content posted on our site.
    </p>


    <p>
      You must not modify the paper or digital copies of any materials you
      have printed off or downloaded in any way, and you must not use any
      illustrations, photographs, video or audio sequences or any graphics
      separately from any accompanying text.
    </p>


    <p>
      Our status (and that of any identified contributors) as the authors of
      content on our site must always be acknowledged (except where the
      content is user-generated).
    </p>


    <p>
      You must not use any part of the content on our site for commercial
      purposes without obtaining a licence to do so from us. If you’re
      interested in making commercial use of anything on this site, you’ll
      need to contact <a href="mailto:enquiries@scvo.scot">enquiries@scvo.scot</a>.
    </p>


    <h2>
      Disclaimer
    </h2>



    <p>
      While we make every effort to keep the Digital Participation
      website up to date, we do not provide any guarantees, conditions or
      warranties that the information will be:
    </p>


    <ul>
      <li>
        current
      </li>
      <li>
        secure
      </li>
      <li>
        accurate
      </li>
      <li>
        complete
      </li>
      <li>
        free from bugs or viruses
      </li>
    </ul>


    <p>
      We publish impartial information about setting up and running a
      voluntary organisation. This does not substitute independent legal
      advice. You should get professional or specialist advice before
      doing anything on the basis of the content.
    </p>


    <p>
      We’re not liable for any loss or damage that may come from using
      the Digital Participation website. This includes:
    </p>


    <ul>
      <li>
        any direct, indirect or consequential losses
      </li>
      <li>
        any loss or damage caused by civil wrongs (‘tort’,
        including negligence), breach of contract or otherwise
      </li>
      <li>
          the use of
          <a
          href="https://scvo.scot/"
          target="_blank"
          rel="noreferrer noopener"
          >www.digitalparticipation.scot</a>
          and any websites that are linked to or from it
      </li>
      <li>
          the inability to use
          <a
          href="https://scvo.scot/"
          target="_blank"
          rel="noreferrer noopener"
          >www.digitalparticipation.scot</a>
          and any websites that are linked to or from it
      </li>
    </ul>


    <p>
      This applies if the loss or damage was foreseeable, arose in the
      normal course of things or you advised us that it might happen.
    </p>


    <p>
      This includes (but is not limited to) the loss of your:
    </p>


    <ul>
      <li>
        income or revenue
      </li>
      <li>
        salary, benefits or other payments
      </li>
      <li>
        business
      </li>
      <li>
        profits or contracts
      </li>
      <li>
        opportunity
      </li>
      <li>
        anticipated savings
      </li>
      <li>
        data
      </li>
      <li>
        goodwill or reputation
      </li>
      <li>
        tangible property
      </li>
      <li>
        intangible property, including loss, corruption or damage
        to data or any computer system
      </li>
      <li>
        wasted management or office time
      </li>
    </ul>



    <p>
      It is a feature of this website that much of the information is
      contributed by many different third parties and SCVO does not control
      those parties or their information and has no responsibility for any
      information they contribute.
    </p>


    <p>
      Opinions expressed within the information contained in this website are
      those of the authors and do not necessarily represent the opinion of
      SCVO.
    </p>


    <h2>
      Governing law and legal enforcement
    </h2>


    <p>
      We are situated in Scotland and the law of Scotland shall govern any
      interpretation of these Terms and Conditions. The Scottish Courts shall
      decide any disputes between us.
    </p>


    <p>
      We fully co-operate with the police in identifying those who use our
      service for illegal activities. We reserve the right to report to the
      police any activities that we reasonably believe to be unlawful.
    </p>


    <h2>
      Commenting
    </h2>


    <p>
      We offer users the option to “comment” on some content. We reserve the
      right to review these from time to time and delete any messages or text
      which we, in our sole discretion, decide are inappropriate.
    </p>


    <p>
      If you comment you grant us the right to use and display any material
      which you post to or publish on this site.
    </p>


    <h2>
      Uploading content to our site
    </h2>


    <p>
      We offer users the option to “comment” on some content. We have the
      right to remove any posting you make on our site if we, in our sole
      discretion, decide it is inappropriate.
    </p>
    <p>
      Any content you upload to our site will be considered non-confidential
      and non-proprietary. You retain all of your ownership rights in your
      content, but you are required to grant us a limited licence to use,
      store and copy that content and to distribute and make it available to
      third parties.
    </p>
    <p>
      We also have the right to disclose your identity to any third party who
      is claiming that any content posted or uploaded by you to our site
      constitutes a violation of their intellectual property rights, or of
      their right to privacy.
    </p>
    <p>
      Information about you and your visits to the SCVO website
    </p>
    <p>
      We collect information about you in accordance with our
      <a
      href="/privacy"
      target="_blank"
      rel="noreferrer noopener"
      >privacy policy</a>
      and our
      <a
      href="/cookies"
      target="_blank"
      rel="noreferrer noopener"
      >cookie policy</a>
      . By using the Digital Participation website, you agree to us
      collecting this information and confirm that any data you provide is
      accurate.
    </p>
    <h2>
      About termination of your registration
    </h2>
    <p>
      If you breach any term of these Terms and Conditions or if we are
      unable to verify or authenticate any information you submit to the
      Site, we reserve the right to delete any information provided by you to
      the Site and immediately terminate your registration or ability to
      access the Site and/or any other service provided by us to you. On
      termination you will stop using the Site Services made available to you
      as a registered user.
    </p>
    <p>
      We have the right to disable any user identification code or password,
      whether chosen by you or allocated by us, at any time, if in our
      reasonable opinion you have failed to comply with any of the provisions
      of these Terms and Conditions.
    </p>
    <p>
      If you know or suspect that anyone other than you knows your user
      identification code or password, you must promptly notify us at
      <a href="mailto:enquiries@scvo.scot">enquiries@scvo.scot</a> or telephone our customer service line on 0800 169
      0022.
    </p>
  </div>
</div>