<div class="">
  <div class="columns title">
    <div class="column col-7 col-md-6 col-sm-12">
      <h1>Charter</h1>
      <p>
        When you sign Scotland's Digital Participation Charter, we ask you
        to commit to five key pledges - allowing Scotland to work together
        and skill up our digital nation.
      </p>
      <h4 class="margin-top">
        <a href="/charter/signatories" class="btn"><span class="fas fa-search" aria-hidden="true"></span>&ensp;Current signatories</a>
      </h4>
      <h4>
        <a href="/charter/sign-up" class="btn"><span class="fas fa-file-signature" aria-hidden="true"></span>&ensp;Sign up</a>
      </h4>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Skill-Up-Scotland-RGB-04.png" alt="Skill Up Scotland illustration" class="responsive-img hide-md hide-lg" />
    </div>
    <div class="column col-1 hide-sm">
      &nbsp;
    </div>
    <div class="column col-4 col-md-6 hide-sm">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Skill-Up-Scotland-RGB-04.png" alt="Skill Up Scotland illustration" class="responsive-img" />
    </div>
    <div class="column col-12">
      <hr />
    </div>
  </div>
  <div class="columns description pledges">
    <div class="column col-12 col-md-6 col-sm-12">
      <h1 class="align-bottom">Our pledges</h1>
    </div>
    <div class="column col-2 col-md-4 col-sm-12">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Pledges-RGB-04.png" alt="Our Pledges illustration" class="responsive-img" />
    </div>
    <div class="column col-12">
      <hr class="nomargin" style="margin-top:0;" />
    </div>
  </div>
  {{#each @root.context.metaData.pledges ~}}
  <div class="columns expand pledge">
    <div class="column col-1">
      <h3>
        <span class="number">{{@key}}</span>
      </h3>
    </div>
    <div class="column col-4 col-md-6 col-sm-9">
      <h3>
        {{{title}}}
      </h3>
    </div>
    <div class="column col-7 col-md-12">
      <p>
        {{{description}}}
      </p>
    </div>
    <div class="column col-12">
      <hr class="nomargin" />
    </div>
  </div>
  {{/each ~}}
</div>