<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>Charter</h1>
      <p>
        When you sign Scotland's Digital Participation Charter, we ask you
        to commit to five key pledges - allowing Scotland to work together
        and skill up our digital nation.
      </p>
      <h4 class="margin-top">
        <a href="/charter/signatories" class="mdc-button"><span class="fas fa-search" aria-hidden="true"></span>&ensp;Current signatories</a>
      </h4>
      <h4>
        <a href="/charter/sign-up" class="mdc-button"><span class="fas fa-file-signature" aria-hidden="true"></span>&ensp;Sign up</a>
      </h4>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Skill-Up-Scotland-RGB-04.png" alt="Skill Up Scotland illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Skill-Up-Scotland-RGB-04.png" alt="Skill Up Scotland illustration" class="responsive-img" />
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr />
    </div>
  </div>
  <div class="mdc-layout-grid__inner description pledges">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
      <h1 class="align-bottom">Our pledges</h1>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Pledges-RGB-04.png" alt="Our Pledges illustration" class="responsive-img" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-12">
      <hr class="nomargin" style="margin-top:-1rem;" />
    </div>
  </div>
  {{#each @root.context.metaData.pledges ~}}
  <div class="mdc-layout-grid__inner expand pledge">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
      <h3>
        <span class="number">{{@key}}</span>
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
      <h3>
        {{{title}}}
      </h3>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <p>
        {{{description}}}
      </p>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="nomargin" />
    </div>
  </div>
  {{/each ~}}
</div>