<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>Essential digital skills toolkit</h1>
      <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.eu/s3/90124961/Essential-Digital-Skills?__output=embedjs&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr' + 'ipt>');</script><noscript><a href="https://www.surveygizmo.eu/s3/90124961/Essential-Digital-Skills??jsfallback=true">Please take this survey now</a></noscript><style>.sg-survey{display:none; }</style>
      <hr />
    </div>
  </div>
</div>