<div class="">
  <div class="columns title">
    <div class="column col-12">
      <h1>Essential digital skills toolkit</h1>
      <p>
        <strong>Note:</strong> This toolkit will soon be updated to a new version.
      </p>
      <iframe src="https://www.surveygizmo.eu/s3/90124961/Essential-Digital-Skills" frameborder="0" width="100%" height="550" style="overflow:hidden" class="b-margin-full"></iframe>
      {{!-- <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.eu/s3/90124961/Essential-Digital-Skills?__output=embedjs&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr' + 'ipt>');</script><noscript><a href="https://www.surveygizmo.eu/s3/90124961/Essential-Digital-Skills??jsfallback=true">Please take this survey now</a></noscript><style>.sg-survey{display:none; }</style> --}}
      <hr />
    </div>
  </div>
</div>