<div class="">
  <div class="columns title">
    <div class="column col-12">
      <h1>Essential digital skills toolkit</h1>
      <p>
        <strong>Note:</strong> This toolkit will soon be updated to a new version.
      </p>
      <hr />
    </div>
  </div>
</div>