<div class="">
  <div class="columns title">
    <div class="column col-12">
      <h1>Essential digital skills toolkit:<br />Feedback</h1>
      <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.eu/s3/90128330/Essential-Digital-Skills-Toolkit-Feedback?__output=embedjs&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr' + 'ipt>');</script><noscript><a href="https://www.surveygizmo.eu/s3/90128330/Essential-Digital-Skills-Toolkit-Feedback??jsfallback=true">Please take the survey now</a></noscript><style>.sg-survey{display:none; }</style>
      <hr />
    </div>
  </div>
</div>