<div class="">
  <div class="columns title">
    <div class="column col-12">
      <h1>Test your foundation digital skills</h1>
      <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.eu/s3/90124951/Foundation-Digital-Skills?__output=embedjs&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr' + 'ipt>');</script><style>.sg-survey{display:none; }</style>
      <hr />
    </div>
  </div>
</div>