<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
      <h1>Skills</h1>
      <p>
        The internet is part of everyday life for most people. We use it to communicate, to shop, to work and to solve problems. We can use digital technology to do things that would have been unthinkable just a few years ago, and this pace of change will only get faster.
      </p>
      <p>
        The <a href="https://www.gov.uk/government/publications/essential-digital-skills-framework">Essential Digital Skills Framework</a> gives us a clear description of the skills we all need to make the most of these new opportunities.
      </p>
      <p>
        SCVO have developed the Essential Digital Skills toolkit to help you make practical use of the framework. It contains simple checklists for measuring Foundation Skills and Essential Skills, and guidance on how to interpret the results.
      </p>
      <h4 class="margin-top">
        <a href="/skills/foundation" class="mdc-button"><span class="fas fa-hammer" aria-hidden="true"></span>&ensp;Foundation Skills checklist</a>
      </h4>
      <h4>
        <a href="/skills/essential" class="mdc-button"><span class="fas fa-tools" aria-hidden="true"></span>&ensp;Essential Digital Skills Checklist</a>
      </h4>
      <h4>
        <a href="/resources/toolkit-downloads" class="mdc-button"><span class="fas fa-file-download" aria-hidden="true"></span>&ensp;Framework downloads</a>
      </h4>

      <p class="t-margin-full">
        If you’d like to test your skills but want to know more first, or if you want to understand
        the reasoning behind the way the toolkit works, you can follow the below link to a summary of key points surrounding the toolkit and the framework:
      </p>
      <h4>
        <a href="/skills/information" class="mdc-button"><span class="fas fa-book-open" aria-hidden="true"></span>&ensp;Learn more about the framework</a>
      </h4>

      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Back-The-Basics-RGB-04.png" alt="The Essentials illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Back-The-Basics-RGB-04.png" alt="The Essentials illustration" class="responsive-img" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr />
    </div>
  </div>
</div>