<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <img src="https://storage.googleapis.com/digitalparticipation/images/framework.png" style="max-width: 100%; width: 500px; border: 2px solid #000000;" class="pull-right l-margin-full b-margin-full hide-sm hide-md">
      <h1>Learn about the essential digital skills framework</h1>
      <p>
        Evidence from Digital Participation Charter Fund projects and other projects has shown that people learn best from repeated, informal, face-to-face and one-to-one support. It is also important to use the right language and conversational style when engaging with people to build relationships and facilitate future support networks.
      </p>
      <p>
        The Essential Digital Skills Framework gives a clear description of the skills that everyone needs for both life and work. It has been developed in consultation with employers, charities, national and local government departments, academics and individuals. The framework provides a common language to explain what the core skills are. However, to practically use the framework, organisations need a set of assessment questions and a way of interpreting the results.
      </p>
      <p class="centre">
        <img src="https://storage.googleapis.com/digitalparticipation/images/framework.png" style="max-width: 100%; width: 500px; border: 2px solid #000000;" class="hide-lg">
      </p>
      <p>
        Each skill has a distinct focus, but the fifth skill – being safe, legal and confident online – is also embedded across the other four.
      </p>
      <p>
        The framework includes a section on ‘foundation’ skills, which are typically required by those not currently using digital technology or using it in limited ways. It is important to check that people feel comfortable with these foundation skills before introducing the ‘Essential’ Skills.
      </p>
      <p>
        When an individual or a group of people assess their skills against the framework, the results provide a snapshot of skill levels at a point in time. This record can then be used to:
      </p>
      <ul>
        <li>
          Benchmark - The advantage of sharing a common language and assessment approach is that results can be compared across different organisations and in different settings.
        </li>
        <li>
          Highlight gaps - The results can demonstrate which skills people have, and which skills they need support to develop.
        </li>
        <li>
          Evidence a need - In order to access funding or make the case for a Digital Skills Intervention it is important to demonstrate the need. The results of the essential skills survey can be used to demonstrate that a community or group of people do not have Essential Digital Skills, and therefore make a case for investment of time or resources.
        </li>
        <li>
          Measure the success of an intervention - By carrying out regular assessments using the framework, it is possible to demonstrate the impact of a digital skills support project. Tracking the change in how people complete the checklist can show their progress towards having all of the Essential Digital Skills.
        </li>
      </ul>
    </div>
  </div>
</div>
