<div class="">
  <div class="columns title">
    <div class="column col-12">
      <h1>Thank You!</h1>
      <h2>We will be in touch shortly with further information.</h2>
    </div>
  </div>
  <div class="columns description">
    <div class="column col-12">
      <hr />
    </div>
  </div>
</div>