<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell-4-phone">
      <h1>Sign up</h1>
      <h2>Who can sign the Charter?</h2>
      <p>
        Any organisation from the public, private or voluntary sectors can sign the Charter. Big or small, Scotland-based or international – as long as your organisation operates in Scotland you can sign. All we ask is that you make a commitment to digital participation i.e. a plan to skill up your own workforce or an offer you’re making to the wider community.
      </p>
      <p>
        We’ll ask you for some details about your organisation and your commitments, (so you’ll need to make sure you’re authorised to sign up on their behalf). We’re happy to work with you and answer any questions so please <a href="/contact-us">get in touch</a> if you need to.
      </p>
      <p>
        Ready? Sign up using the form below and take a step towards a digitally smarter Scotland.
      </p>
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Sign-Charter-RGB-04.png" alt="Sign up illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-1">
      &nbsp;
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Sign-Charter-RGB-04.png" alt="Sign up illustration" class="responsive-img" />
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell-4-phone">
      {{!-- <hr /> --}}
      <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.eu/s3/90088286/DigitalCharter?__output=embedjs&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr' + 'ipt>');</script><style>.sg-survey{display:none; }</style>
    </div>
  </div>
</div>
