<div class="progress-bar">
  <div class="label b-margin-full progress-label" style="width:{{progress}}%">
    <p class="h-padding-full progress-label-text{{#compare progress 100}} text-center{{/compare}}">
      {{#compare progress "<" 100 ~}}
      {{progress}}% complete
      {{else}}
      Checkup complete
      {{/compare ~}}
    </p>
  </div>
</div>